.conan {
  background-color: antiquewhite;
  border-radius: 8px;
}

h1 {
  color: red;
  text-align: center;
}

ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}

li {
  width: auto;
  background-color: white;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
}

li a {
  width: inherit;
  height: inherit;
  border-radius: 4px;
  display: block;
  padding: 6px 10px;
  color: red;
}

li:hover a {
  background-color: red;
  color: white;
}
